.dish-template {
  padding-bottom: 60px;
  .categories {
    margin: 0;
    padding: 0;
    list-style: none;

    > .category {
      padding: 8px 0;
      font-weight: 500;
      // border-bottom: 1px solid var(--light-gray);
      display: flex;
      align-items: center;

      > .header {
        // margin-bottom: 10px;
        width: 60px;

        > .number {
          display: inline-block;
          width: 20px;
          height: 20px;
          font-size: 12px;
          color: var(--red);
          border: 1px solid var(--red);
          line-height: 20px;
          text-align: center;
          border-radius: 50%;
        }
  
        > .name {
          display: inline-block;
          font-size: 1.1rem;
          color: var(--gray);
          // margin-left: 8px;
          margin: 0;
        }
      }

      > .dish-card {
        margin-bottom: 12px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}



.choices-drawer {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .click {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
  }

  .drawer-container {
    
    position: relative;
    width: 90vw;
    height: 80vh;
    background-color: #eee;
    border-radius: 12px;
    

    > .header {
      padding-left: 20px;
      height: 56px;
      // text-align: center;
      line-height: 56px;
      font-weight: 500;
      color: var(--red);
      font-size: 1rem;
      background-color: #fff;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      display: flex;
      align-items: center;
    }

    > .content {
      padding: 20px;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      height: 70vh;


      > .btn-close {
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }

   .dishes {
    

      > .dish-card {
        margin-bottom: 12px;
  
        &:last-child {
          // margin-bottom: 0;
        }
      }
    }
    

  }
}

.save-template {
  position: fixed;
  bottom: 0;
  left: 0;
  border-radius: 0;
  height: 44px;
}