

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  font-size: 16px;
  
}

#__next {
  background-color: #F2F2F2;
  min-height: 100vh;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* .button {
  padding: 8px 12px;
  border-radius: 8px;
  border-color: var(--red);

} */


.layout {
  background-color: #F2F2F2;
  padding-top: 72px;
  box-sizing: border-box;
  
}



.no-touch-scroll {
  touch-action: none;
  overflow: hidden;
}

.page-title {
  background-color: var(--red);
  font-size: 1.1em;
  color: #fff;
  padding: 8px;
}

.ediTextContainer button{
  /* display: none; */
  padding: 0;
}

.ediTextEditContainer input{
  padding: 0 !important;
}

@media (min-width: 401px) {
  html {
    font-size: 20px;
  }
}

.clickable:hover {
  cursor: pointer;
}